{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "indent": [2, 2],
    "max-len": [1, 120, 2],
    "no-use-before-define": ["warn"]
  }
}
